@model OrderModel


@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h1 style="color:navy">Order Management </h1>
    </div>
    <div class="col-md-4">
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <button class="btn btn-info" style="margin:30px;text-align:center" onclick="window.location.href('@Url.Action("GetAllUnprocessedOrders","Home")')">Get All Open Orders</button>
    </div>
    <div class="col-md-4">
    </div>

</div>
<hr />

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("CreateOrder", "Home", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.Id)
                @Html.TextBoxFor(m => m.Id)
            </div>
            <div>
                @Html.LabelFor(m => m.ProductId)
                @Html.TextBoxFor(m => m.ProductId)
            </div>
            <div>
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description)
            </div>

            <button class="btn btn-success" type="submit">Create Order</button>


        }
    </div>

    <div class="col-md-4">
    </div>

</div>
<hr />
<div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("GetOrdersByProductId", "Home", FormMethod.Get))
        {


            <div>
                @Html.LabelFor(m => m.ProductId)
                @Html.TextBoxFor(m => m.ProductId)
            </div>

            <button class="btn btn-success" type="submit">Get Order</button>
        }
    </div>
    <div class="col-md-4">
    </div>
</div>
